{% extends "core/base.html" %}
{% load static %}

{% block title %}Acerca de - {% if persona %}{{ persona.nombres }}{% endif %}{% endblock %}
{% block header_image %}{% static 'core/img/about-bg.jpg' %}{% endblock %}
{% block header_title %}Acerca de{% endblock %}
{% block header_subtitle %}Biografía{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-4 col-md-4">
      <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="Avatar">
    </div>
    <div class="col-lg-8 col-md-8">
      {% if persona %}
        <h2 class="section-heading">{{ persona.nombres }} {{ persona.apellidos }}</h2>
        <p>{{ persona.biografia }}</p>
      {% endif %}
    </div>
  </div>
{% endblock %}