{% extends "core/base.html" %}

{% block title %}Contacto - {% if persona %}{{ persona.nombres }}{% endif %}{% endblock %}
{% block header_image %}{% load static %}{% static 'core/img/contact-bg.jpg' %}{% endblock %}
{% block header_title %}Contacto{% endblock %}
{% block header_subtitle %}Asesoría{% endblock %}

{% block content %}
  {% if persona %}
    <p><b>Correo:</b> {{ persona.correo }}</p>
    <p><b>Teléfono:</b> {{ persona.telefono }}</p>
    <p><b>Dirección:</b> {{ persona.direccion }}</p>
  {% endif %}
{% endblock %}